

{% extends 'news/base.html' %}


{% block title %}
Список продуктов
{% endblock %}

{% block content %}

{% for product in products %}

<ol class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <p><a href="{% url 'products-name' product.pk %}" class="btn btn-outline-secondary">{{product.name}}</a></p>
        <!-- <p class="link-read"><a href="{% url 'products-name' product.pk %}">{{product.name}}</a></p> -->
        {{ product.price }}$
        <div>
            <p>Category: {{ product.category.name }}</p>
        </div>
      </div>
      {% if product.stock != 0 %}
      <span class="badge bg-primary rounded-pill">{{ product.stock}}</span>
      {%else%}
      <div><span class="badge bg-primary rounded-pill">Нет в наличии</span></div>
      {% endif %}

    </li>

  </ol>
  {% endfor %}
{% endblock %}

