{% extends 'news/base.html' %}


{% block title %}
home page
{% endblock %}

{% block content %}

<div class="container">
  <figure class="text-center">
  <H1> Тестовый блог о кошках</H1>
  <p>  <figcaption class="blockquote-footer">
    Содержимое данной страницы всего лишь <cite title="Source Title">макет</cite>
  </figcaption></p>
</figure>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="https://koshka.top/uploads/posts/2021-11/1636790050_7-koshka-top-p-koshki-assiriiskaya-poroda-koshek-7.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Абиссинская кошка</h5>
    <p class="card-text">Одна из самых древних пород кошек и одна из первых пород, получивших официальный выставочный стандарт.</p>
    <a href="https://dzen.ru/a/Y0l8rzlIrBZYK-ir" class="btn btn-primary"><i class="fa-brands fa-yandex"></i> Больше</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="https://sun9-80.userapi.com/s/v1/ig1/GNX_DiOolx1w4oNWHgtD2RzP3cI9ZdzpBnPdaSmZ9EsU9sBLXrsIoGMBY70n9bpT4hTgQdPO.jpg?quality=96&as=32x21,48x32,72x48,108x72,160x107,240x160,360x240,480x320,540x360,600x400&from=bu&u=6lKN7wkJPk1vQfvNOeNJEyhpYU7uQJQnvwrCpnIC8Zc&cs=600x400" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Бенгальская кошка</h5>
    <p class="card-text">Она отличается внешней привлекательностью, грациозностью и узнаваемым окрасом.</p>
    <a href="https://dzen.ru/a/YbapANCjxBkFsn9h?ysclid=m3yjae4rlv328215688" class="btn btn-primary"><i class="fa-brands fa-yandex"></i> Больше</a></a>
  </div>
</div>
    </div>
    <div class="col">
    <div class="card" style="width: 18rem;">
  <img src="https://sun9-59.userapi.com/s/v1/if1/VXUlE1qmzKb0BV4NsN_jNqn5kVheQmby1q3NHyU8OraZu2HOL3gayDUSDpW1gDYiK3PbwUxz.jpg?quality=96&as=32x23,48x35,72x52,108x78,160x116,240x173,360x260,450x325&from=bu&u=7UOKmNBvIRQD9ycnJF5BCNBkrCZI5Cmtwr-MyjeRL1I&cs=450x325" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Шотландская кошка</h5>
    <p class="card-text">Порода, известная своей интеллигентностью, покладистым характером и дружелюбием.</p>
    <a href="https://dzen.ru/a/YLUtnQT1sE34-VR0?ysclid=m3yjc2yu8t159227324" class="btn btn-primary"><i class="fa-brands fa-yandex"></i> Больше</a>
  </div>
</div>
    </div>


{% endblock %}
